* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
}

header {
  width: 100%;
}

.contact {
  background-color: #04091e;
  padding: 10px;
}
.contact .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact .row .icon {
  width: 50%;
  padding: 8px;
  margin-left: 40px;
}
.contact .row .icon a i {
  margin-right: 10px;
  color: white;
  font-size: 15px;
}
.contact .row .icon a i:hover {
  text-decoration: none;
  color: #f6214b;
}

.phone {
  display: flex;
  padding: 8px;
  margin: 2px;
}
.phone a {
  text-decoration: none;
  color: white;
  margin-right: 40px;
  padding: 5px;
}
.phone a:hover {
  text-decoration: none;
  color: #f6214b;
}

.mobile-phone {
  padding: 8px;
}
.mobile-phone span i {
  margin-right: 10px;
  color: white;
  font-size: 15px;
}

.logo {
  display: flex;
  width: 100%;
  background-color: white;
  padding: 20px 0px;
}

.logo-left {
  width: 40%;
}

.logo-left img {
  margin-left: 45px;
}

.logo-right {
  width: 60%;
  margin-right: 50px;
}

/*nav-bar*/
.navbar {
  position: sticky;
  top: 0;
  background-color: #04091e;
  margin: 0px 50px;
  z-index: 999;
}

.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #f0ebeb;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #fdfeff;
}

.nav-link:hover {
  color: #f6214b;
}

.arrow {
  margin-left: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/*sub menu*/
li {
  display: block;
  transition-duration: 0.5s;
}

li:hover {
  cursor: pointer;
  color: #ccc;
}

.dropdown li a:hover {
  color: white;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 20px;
  padding: 0 10px;
  background-color: #f6214b;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
  padding: 10px;
  margin: 2px;
  border-bottom: 1px solid rgb(194, 187, 187);
}

.searchbar a i {
  color: white;
}

.searchbar input {
  padding: 10px;
  width: 75%;
}

/*main*/
main {
  padding: 10px 50px;
  background-color: #ecf0f1;
}

.main {
  display: flex;
  flex-direction: row;
  min-height: 500px;
  background-color: #ecf0f1;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.left-main {
  margin-right: 20px;
}

.right-main {
  width: 500px;
}

.right-main .top-img {
  width: 100%;
}

button {
  background-color: red;
  color: white;
  font-size: 10px;
  padding: 10px 20px;
  border: none;
}

h2 {
  color: white;
}

.container-img {
  position: relative;
  height: 100%;
}

.container-img .left-img {
  height: 520px;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  padding: 60px 40px;
}

.bottom-left .meta {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 20px 0px;
}

.meta li a {
  text-decoration: none;
  color: rgb(191, 183, 183);
  margin-right: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.meta li a i {
  margin-right: 10px;
}

.breaking-news {
  padding: 12px 15px;
  background-color: #ccc5c5;
}

.breaking-news span {
  color: #f6214b;
  font-weight: bold;
}

/*section*/
section {
  margin-top: 50px;
  width: 100%;
}

.rows {
  display: flex;
  margin: 0px 30px;
}

.rows .left-section {
  margin-right: 20px;
  width: 60%;
}

.img-section1 {
  display: flex;
  flex-direction: row;
}

.img-section1 .img-sec {
  position: relative;
}

.button {
  position: absolute;
  bottom: 0;
  margin: 10px 16px;
}

.rows .left-section .first-section h2 {
  background-color: #04091e;
  padding: 8px 18px;
}

.rows .left-section .third-section h2 {
  background-color: #04091e;
  padding: 8px 18px;
}

.rows .left-section .four-section h2 {
  background-color: #04091e;
  padding: 8px 18px;
}

h2 .top-heading {
  color: white;
}

.img-section {
  margin-top: 30px;
}

.img-section .img-section1, .img-section2, .img-section3, .img-section4 .img-sec {
  margin: 20px 0px;
}

.img-sec img {
  width: 100%;
  height: 200Px;
  background: rgba(0, 0, 0, 0.4);
}

.sec-content {
  padding: 0px 28px;
  width: 100%;
}

.sec-content h3 {
  margin-bottom: 16px;
  cursor: pointer;
}

.sec-content h3:hover {
  color: #f6214b;
}

.sec-content p {
  margin-top: 10px;
  color: #777777;
}

.sec-content .meta {
  display: flex;
  list-style: none;
}

.first-section, .second-section, .third-section, .four-section {
  background-color: #fffcfd;
  margin-bottom: 30px;
  padding: 20px;
}

/*second section*/
.second-section img {
  width: 100%;
  padding: 20px 0px;
}

/*third section*/
.third-section .img-section #first-img {
  flex-direction: column;
}

.third-section .img-section #first-img .img-sec {
  position: relative;
  top: 0;
}

.third-section .img-section #first-img .img-sec .sec-content {
  position: absolute;
  bottom: 0;
  color: white;
  margin: 20px;
}

.third-section .img-section #first-img .img-sec img {
  width: 100%;
  height: 100%;
}

/*right side */
.right-content .top-head {
  background-color: #04091e;
  padding: 10px;
}

.rows .right-section {
  padding: 20px;
  width: 40%;
  height: -moz-max-content;
  height: max-content;
  background-color: white;
}

.right-section .img-section1 {
  margin-top: 20px;
  flex-direction: column;
  width: 100%;
}

.right-section .img-section1 img {
  width: 100%;
}

.right-section .img-section1 #section-content {
  margin: auto;
  padding: 30px 0px;
}

/*right-second*/
.right-second {
  margin-bottom: 30px;
}

.right-second .img-right {
  display: flex;
  padding: 20px 0px;
  width: 100%;
  border-top: 1px solid #eee;
}

.right-second .right-img img {
  width: 100%;
  height: auto;
}

.right-second .img-right .right-content1 {
  margin-left: 10px;
}

h3.right-head {
  font-size: 14px;
}

div.right-content1 > ul {
  display: flex;
  margin-top: 10px;
  list-style: none;
}

.right-content1 ul li {
  display: inline-block;
  font-size: 12px;
}

h6 {
  font-size: 14px;
  line-height: 1.4em !important;
  font-weight: bold;
}

/*email*/
.email p {
  margin: 20px 0;
  line-height: 26px;
}

.email input[type=email] {
  border-radius: 10px 0px 0px 10px;
  font-size: 13px;
  border-color: transparent;
  color: #ccc;
  padding: 9px;
  padding-left: 15px;
  background: #ecf0f1;
}

/*social*/
.social ul li {
  list-style: none;
  padding: 20px 5px;
}

/*bottom social-media*/
.social ul li .align-media {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.social-media li {
  margin-top: 10px;
}

.ft {
  display: inline-flex;
}

.ft p {
  border-left: 1px solid white;
  margin-left: 15px;
  padding-left: 10px;
}

.sub a {
  text-decoration: none;
  border-left: 1px solid white;
  color: white;
  padding-left: 10px;
}

.align-media {
  color: white;
}

.social ul .facebook {
  background-color: #3b5998;
  margin-top: 25px;
}

.social ul .twitter {
  background-color: #00acee;
}

.social ul .youtube {
  background-color: #FF0000;
}

.social ul .rss {
  background-color: #ee802f;
}

/*Footer*/
footer {
  background-color: #04091e;
}

.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: auto;
  color: white;
  padding-top: 130px;
  padding-bottom: 60px;
}

.top-product .social-icons {
  list-style: none;
  padding: 20px 0px;
}
.top-product .social-icons li {
  padding: 10px 0px;
  color: #777777;
}
.top-product .social-icons li:hover {
  color: white;
  cursor: pointer;
}

.top-product #img-feed {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.top-product #img-feed li img {
  height: 50px;
  width: 50px;
}

/*copyright*/
.copy-right {
  display: flex;
  justify-content: space-around;
  padding-bottom: 99px;
}
.copy-right .copy {
  padding: 30px;
  color: white;
}
.copy-right .copy span {
  color: #f6214b;
}
.copy-right .icons .social-icons {
  display: flex;
  list-style: none;
  font-size: 15px;
}
.copy-right .icons .social-icons li {
  margin: 0px 8px;
}
.copy-right .icons .social-icons li a i {
  padding: 15px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}
.copy-right .icons .social-icons li a i:hover {
  background-color: #f6214b;
}

/*image hover left-first page*/
.left-main .container-img {
  overflow: hidden;
  margin: 0;
}

.left-main img {
  transition: 1s all ease-in-out;
  filter: brightness(0.5);
}

.left-main:hover img {
  transform: scale(1.1);
  opacity: 1;
  filter: brightness(120%);
}

.right-main .top-img, .botom-img {
  overflow: hidden;
  margin: 0;
}

.right-main img {
  transition: 1s all ease-in-out;
  filter: brightness(0.5);
}

.right-main .top-img:hover img {
  transform: scale(1.1);
  opacity: 1;
  filter: brightness(120%);
}

.right-main .botom-img:hover img {
  transform: scale(1.1);
  opacity: 1;
  filter: brightness(120%);
}

/*image hover second page*/
.img-section1 .img-sec {
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.img-section1 img {
  transition: all 0.3s ease 0s;
  filter: brightness(0.5);
}

.img-section1:hover img {
  transform: scale(1.1);
  opacity: 1;
  filter: brightness(120%);
}

/*third secttion image hover*/
.column1 {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row1::after {
  content: "";
  clear: both;
  display: table;
}

.row1.column1 img {
  width: 100%;
  height: auto;
}

.row1 .column1 {
  overflow: hidden;
  margin: 0;
}

.row1 img {
  transition: all 0.3s ease 0s;
  filter: brightness(0.5);
}

.column1 img {
  height: 100%;
  width: 100%;
}

.column1 img:hover {
  transform: scale(1.1);
  opacity: 1;
  filter: brightness(120%);
}

/*left-two inline image position button*/
div.column1 {
  position: relative;
}

div#button {
  position: absolute;
  bottom: 140px;
}

@media only screen and (min-width: 320px) {
  .logo-left img {
    border-radius: 10%;
    width: 50%;
  }
  .navbar {
    margin: 10px;
  }
  main {
    padding: 10px 10px 60px 10px;
    background-color: #ecf0f1;
  }
  .bottom-left {
    position: absolute;
    bottom: 50px;
    padding: 0px 10px;
  }
  /*Revelent stories*/
  .img-section1 {
    flex-direction: column;
  }
  .sec-content {
    padding: 0px;
  }
  div#button {
    bottom: 156px;
  }
  /*email*/
  .email p {
    text-align: justify;
    color: #777777;
  }
  /*image small right*/
  .img-right .right-img {
    width: 45%;
  }
  .right-second .img-right .right-content1 {
    margin-left: 20px;
  }
  /*footer*/
  .main-footer {
    width: 100%;
    padding: 100px 20px;
  }
  .top-product {
    width: 100%;
  }
  .top-product .social-icons li img {
    width: 100%;
    margin: 0px 10px;
  }
  .copy {
    padding: 30px 10px;
    color: white;
  }
  .copy p {
    line-height: 25px;
  }
}
@media only screen and (min-width: 768px) {
  /*header*/
  .row {
    width: 100%;
  }
  .row .icon {
    width: auto;
  }
  .nav-item {
    margin-left: 2rem;
  }
  /*left side*/
  .img-section .img-section1 {
    flex-direction: column;
  }
  /*right*/
  .img-right .right-content1 {
    padding: 30px;
  }
  /*email*/
  .email input[type=email] {
    width: 80%;
  }
  /*footer*/
  .main-footer {
    padding: 91px 64px;
    width: 100%;
    flex-wrap: wrap;
  }
  .main-footer .top-product {
    width: 50%;
    /* margin: 0px 100px 50px 75px*/
  }
  .top-product:last-child {
    width: 100%;
  }
  .top-product #img-feed {
    width: 50%;
  }
  .copy-right {
    padding-left: 64px;
  }
}
.phone a {
  display: none;
}

.mobile-phone {
  display: none;
}

@media screen and (max-width: 992px) {
  .mobile-phone {
    display: block;
  }
  .logo {
    display: flex;
    flex-direction: column;
  }
  .logo .logo-left, .logo-right {
    width: 100%;
  }
  .main {
    flex-direction: column;
  }
  .left-main, .right-main {
    width: 100%;
  }
  .rows {
    flex-direction: column;
    margin: 0px;
  }
  .rows .left-section {
    width: 100%;
  }
  .rows .right-section {
    width: 100%;
  }
  /*footer*/
  .main-footer {
    width: 100%;
    flex-wrap: wrap;
  }
  .copy-right {
    width: 100%;
    flex-direction: column;
  }
  .img-section .left-two {
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  /*phone email icon*/
  .phone a {
    display: block;
  }
  /**/
  .img-section .img-section1 {
    flex-direction: row;
  }
  .main-footer {
    width: 100%;
  }
  .top-product {
    width: 20%;
  }
  .top-product #img-feed {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 992px) {
  .column1 {
    width: 100%;
  }
}
/*humburgar*/
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 7rem;
    flex-direction: column;
    background-color: #04091e;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    margin-left: 60px;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 2rem 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}/*# sourceMappingURL=style.css.map */