*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
   
    position: relative;
}
header{
    display: flex;
    width: 100%;
    height: 65%;
    background-color: rgb(102, 89, 83);
    
}

.first-card{
    display: flex;
    flex-direction: row;
    width: 100%;

}
.card{
    margin: 10px;
    padding: 20px;
    border: 1px solid white;
    width: 25%;
    background-color: white;
}
.card .card-name{
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.card img{
    height: 100px;
    width: 100px;
    
   
}
.img-align{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 300px;
    padding: 10px;
}
.img-align img{
    margin: 10px;
    border-radius: 2px;
}

a{
    text-decoration: none;
    color: #1d967a;
}

#store{
    width: 100%;
    height: 85%;
}
/*second*/

main{
    width: 100%;
}
.second-card{
    display: flex;
    flex-direction: row;
    width: 100%;

}
.card-see{
    margin: 10px;
    padding: 20px;
   
}
.card2{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 20px 10px 0px 0px;
    width: 100%;
    padding: 10px;
}
.reserve{
   display: flex;
   justify-content: space-between;
   background-color: #95e0e6;
   border-radius: 20px;
  
   padding: 20px 10px 80px 10px;
}
.img-align1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.img-align1 img{
    height: 190px;
    width: 190px;
    padding: 10px;
}
.card2 .top{
    display: flex;
}
.card2 .top img{
    height: 90px;
    margin:10px;
    width: 90px;
    border-radius: 50%;
}

/*section*/

section{
    display: flex;
    width: 100%;
   
}
.card3{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 10px;
    width: 33%;
    
}
.card3 img{
   width: 100%;
   height: 450px;
   
   

}
.card3 h4 {
padding: 10px;
}