html,
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #8299a1;
}

#wrapper h2 {
  display: flex;
  justify-content: center;
}
h2 {
  color: #cc442c;
  letter-spacing: 1px;
}
input {
  border-radius: 5px;
  border: 2px solid black;
  margin-top: 30px;
  height: 2.5em;
  width: 250px;
  padding-left: 10px;
}

input:active {
  /* border: none;*/
  border-color: blue;
}
#wrapper {
  height: 500px;
  width: 400px;
  margin: 200px auto;
  background-color: #f3f4f8;
  border-radius: 10px;
  padding: 30px;
}
button {
  margin-top: 20px;
  background-color: #ee2e20;
  border-radius: 4px;
  height: 44px;
  font-weight: 600;
  padding: 0 30px;
  letter-spacing: 1px;
  border: none;
  color: #e8ebf3;
}

button:hover {
  cursor: pointer;
}

#todoList {
  color: rgb(46, 35, 35);
  font-size: 28px;
  margin-top: 10px;
}

#todoList p {
  width: 100%;
  margin: 10px 0px;
  cursor: pointer;
}

span {
  background-color: #cc442c;
  float: right;
}
